.bread {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 40px;
  height: auto;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(var(--rotate));
    opacity: 0;
  }
}
