body::-webkit-scrollbar {
  display: none;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: calc(100vh - 68px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.card-sm {
  background-color: #f9fafb;
}
