body::-webkit-scrollbar {
  display: none;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  height: calc(100vh - 136px);
  /* 허전함 + 스크롤 가능 알리기 */
  overflow-y: scroll;
  scrollbar-width: none;
}

.card-sm {
  background-color: #f9fafb;
}
