.taste-page {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 100px 0px;
}

.taste-section {
  display: flex;
  flex-direction: column;
  border: #bababa 1px solid;
  border-radius: 12px;
  padding: 24px;
  /* gap: 24px; */
  width: 60vw;
  text-align: center;
}

.taste-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
  & form {
    width: 80%;
  }
}
.sub-title {
  margin: 24px;
}

.taste-input {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 12px;
  background-color: #f4f4f4;
  & ::placeholder {
    color: #bababa;
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 24px;
  gap: 4px;
  & label {
    display: flex;
  }
}

#reason {
  height: 60px;
  resize: none;
}
