.embla {
  max-width: 48rem;
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  width: 100%; /* 4개 카드가 들어갈 수 있도록 설정 */
}

.embla__slide {
  flex: 0 0 25%; /* 한 슬라이드가 25% 너비를 가짐 (4개 카드 표시) */
  padding: 0 8px; /* 각 카드 간의 간격 */
}

.card {
  position: relative;
  border: none;
  background-color: transparent;
  border-radius: 12px;
  margin: 0 16px;
  height: 172px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.card-info {
  height: 100%;
  width: 100%;
  padding: 35% 12px 0 16px;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}
