@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
* {
  font-family: "Pretendard";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 164px 24px 200px;
}

.title {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 3.25rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}
